{% assign my = site.data.me %}
<footer id="l-footer">
    <div class="container">
        <div class="row">
        </div>
    </div>
</footer>

<script type="text/javascript" src="{{ '/assets/js/base.js' | relative_url }}"></script>

{% if page.layout == "post" or page.layout == "page" %}
<script type="text/javascript" src="{{ '/assets/js/post.js' | relative_url }}"></script>
{% endif %}

{% for js in page.customjs %}
<script async type="text/javascript" src="{{ js }}"></script>
{% endfor %}