<header id="l-header">
    <div class="container">
        <div class="row logo">
            <div class="col-lg-7">
                <div class="blog-title"><a href="{{ '/' | relative_url }}">{{ site.name }}</a></div>
            </div>

            <div class="col-lg-5">
              {% for line in site.shout %}
                <p>{{ line }}</p>
              {% endfor %}
            </div>
        </div>

        <div class="row navicon">
            <a href=""><i class="fa fa-navicon"></i></a>
        </div>

        <div class="row navbar">
            <nav class="col-md-12">
                <ul class="row">
                    <li class="col-lg-3"><a href="{{ '/' | relative_url }}">Accueil</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>